.App-logo {
    height: 25vmin;
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13px;
  }
  
  .Course-header {
    background-color: #ffffff;
    top: 0px;
    align-items: center;
    justify-content: center;
    font-size: calc(25px + 2vmin);
    color: rgb(0, 56, 101);
    text-align: center;
  }
  
  .subheader {
    color: #A4C8E1;
    align-items: center;
    top: 0px;
    font-size: 50px;
  }
  
  .Fall{
    align-items: left;
  }
  .Spring{
    align-items: right;
  }

.one-fa{
    align-items: left;
    height: 150px;
    width: 180px;
    background-color: aqua;
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .one-sp{
    align-items: right;
    height: 150px;
    width: 180px;
    background-color: green;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  