
.App-logo {
  height: 25vmin;
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 13px;
}

.AdvA-logo{
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;

}

.header{
    padding: 93px;
    text-align: center;
    background: rgb(0, 56, 101);
    color: white;
    font-size: 30px;
}

.Course-header {
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  color: rgb(0, 56, 101);
  text-align: center;
}

.subheader {
  color: #A4C8E1;
  align-items: center;
  top: 0px;
  font-size: 50px;
}

.row1{
display: inline-block;
align-items: center;
padding: 10px;
position: relative;
height: auto;
}

.one-fa{
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100%;
  padding-left: 35%;;
}

.one-sp{
  padding-top: 5px;
  padding-bottom: 10px;
}

.Submit-btn{
align-items: right;
padding-left: 75%;
padding-bottom: 10%;

}

.Year{
font-size: 18px;
text-align: center;
margin: 0;
width:100%;
display: inline-block;
height: auto;
}

.Fall{
text-align: center;
}
.Spring{
text-align:center;
}

body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.confetti{
position: relative;
padding-left: 20px;
}

.Btn-Con{
display: flex;
margin-left: auto;
}

.Btn-Reset{
  display: flex;
  margin-left: auto;
}